<!DOCTYPE html>
<html>
  <head>
    <title>
      ICFPC unofficial scoreboard
    </title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33522896-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <p><h2><a href=".">Scores</a></h2>
    How to get here? See these simple <a href="https://bitbucket.org/xa4a/icfpc12-score/src/master/README.md">instructions.</a>
    {% if map_txt %}
    <pre>{{ map_txt }}</pre>
    {% endif %}
    <table>
      <tr>
        <th>map</th>
        <th>team</th>
        <th>score</th>
      </tr>
      {% set last_map = "" %}
      {% set light_grey = 1 %}
      {% for row in scores %}
        {% if last_map != row['map_name'] %}
          {% set light_grey = (1 - light_grey) %}
        {% endif %}
        <tr{% if light_grey %} style="background: #e5e5e5"{% endif %}>
        <td><a href="?map_name={{ row['map_name'] }}">{{ row['map_name'] }}</a></td>
        <td><a href="?team_name={{ row['team_name'] }}">{{ row['team_name'] }}</a></td>
        <td>{{ row['score'] }}</td>
      </tr>
      {% set last_map = row['map_name'] %}
      {% endfor %}
    </table>
    </p>
    <p><h2>Teams</h2>
    <ul>
      {% for row in teams %}
      <li><a href="?team_name={{ row['team_name'] }}">{{ row['team_name'] }}</a></li>
      {% endfor %}
    </ul>
    </p>
    <p><h2>Maps</h2>
    <ul>
      {% for row in maps %}
      <li><a href="?map_name={{ row['map_name'] }}">{{ row['map_name'] }}</a></li>
      {% endfor %}
    </ul>
    </p>
  </body>
</html>
